
/* Tags */
*{
    margin: 0;
    padding: 0;
}
input{
    margin: 5px;
}

header {
    text-align: center;
}   
nav{
	height: 50px;
	margin: 0px 5px 5px 5px;
}
footer{
	background-color: #A020F0;
    color: white;
    width: 100%;
    bottom:0;
	text-align: center;
	margin-top: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A020F0;
    width: 70%;
    float: left;

}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    background-color: #A020F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: white;
    
}

li a:hover {
    background-color: #4B0082;
}
body{
    /*para preservar meus olhos*/
    background-color: #A4A4A4;
    height: 100%;
}



td{border: 2px solid black;}

/* Coluna Nome da Campanha */
tr:nth-child(1){
    background: #4B0082;
    color:white;
}

/* Coluna Data Limite */
tr :nth-child(2){
    max-width: 125px;
    text-align: center;
}
/* Coluna Status */
tr :nth-child(3){
    width: 100px;
    text-align: center;
}
/* Coluna Doação/Meta */
tr :nth-child(4){
    width: 100px;
    text-align: center;
   
}
/* Coluna Visualizar */
tr:nth-child(5) {
    width: 100px;
}


/* Classes */
.formulario{
    margin: auto;
    width: 255px;
    background: #4B0082;
    align-self: center;
    border-radius: 10px;
    color:white;
}

.botoes{
    text-align: center;
}
.links_navegacao{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
.comentario{
    background:#808080;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
.caixa_comentario{
    background:#A020F0;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
.resposta{
    background:#A9A9A9;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
.respostaN2{
    background: #D3D3D3;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

/* .usuario_comentario{

} */


/* IDs */
#viewer{
    margin-top: 20px;
    min-height: 82vh;
}
#area_login{
    background-color: cornsilk;
    display: table;
    margin:0px;
    padding: 0px;
    width: 20%;
    margin-left: 75%;
    height: 50px;
}
#area_login input{
    height: 20px;
    margin: 0;
}

#cadastro_realizado{

	text-align: center;

}
#formulario_campanha{
    width: 900px;
    padding-bottom: 5px;

   
}

#formulario_usuario{
    width: 900px;
    padding: 20px;
}

#descricao{
    height: 200px; 
    width: 875px;
    margin: 10px;
    
}

#area_comentarios{
    border: 2px;
    border-radius: 5px;
    background: #363636;
    min-height: 100px;
    padding: 2px 2px;
}
#novo_comentario{
    background:#363636;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
#novo_comentario textarea{
    height: 100px; 
    width: 99%;
    margin-bottom: 10px;
    
}

#formulario_usuario{

    width: 900px;
    padding: 20px;
 
}
#nova_doacao{
    padding: 5px;
}
#botoes_criterio{
    text-align: center;
}
#top_campanhas table{
    width: 50%;margin: auto;
    text-align: center;
}