
/* Tags */
input{
    margin: 5px;
}

header{
    text-align: center;
}   
nav{
	height: 50px;
	
}
footer{
	background-color: red;
	height: 75px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	position:absolute;
    bottom:0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Classes */
.formulario{
    margin: auto;
    width: 255px;
    /*Apenas pra visualizar melhor a div, dps retirar*/
    background: red;
    align-self: center;
}

.botoes{
    text-align: center;
}
.links_navegacao{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* IDs */

#cadastro_realizado{

	text-align: center;

}
